// 背景顏色
$background_color: #613B2D;
// 主色、標題色
$mainColor:#f1b317;
// 分隔線色
$lineColor:#43281C;
// 內文字顏色
$textColor:#D6A487;
// 提亮色
$hightColor:#ff0000;

body {
    width: 100vw;
    height: 100vh; 
    overflow: hidden;

    // 拿掉所有預設樣式，指定文字字型、粗細
    *{
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans SC Sliced', sans-serif;
        font-weight: 400;
        // 切換內文字
        color: $textColor;
    }

    // 主色class
    .mainColor{
        color: $mainColor;
    }

    // 標題字
    h4{
        text-align: center;
        margin: 15px 0;
    }

    // 內文字
    li{
        font-size: 13px;
        line-height: 20px;
    }

    .textIndent{
        text-indent: -3em;
        margin-left: 3em;
        list-style: none;
    }

    // 提亮色
    .hightColor{
        color: $hightColor;
    }

    //置中
    .contentCenter{
        text-align: center;
        margin-bottom: 10px;
    }

    // 間隔10px
    .SecSpan {
        margin-left: 10px;
    }



    // 下底線樣式
    .bottomLine{
        border-bottom: 1px solid;
        border-color:$lineColor;
    }

    // 背景圖
    .wrap {
        width: 100%;
        height: 100%;
        background: $background_color;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        // 外層容器
        .container {
            height: 100vh;
            padding: 5%;
            overflow: hidden;

            // 預設Tab樣式
            .tab_switch {
                padding: 8px 15px;
                display: inline-block;
                margin-right: -4px;
                margin-bottom: 15px;
            }

            // Tab被選取樣式
            .tab_switch_active {
                background:$mainColor;
                color:$lineColor;
            }
            
            // 內層滾動容器
            .scroll_container {
                width: 110%;
                height: 85%;
                overflow-y: scroll;

                .scrollBox{
                    width: 90%;
                }

                .textBox{
                    padding-bottom: 10px;
                }


                // section區塊固定樣式
                .section {
                    // padding-bottom:15px;

                    // 第一區塊icon列表
                    .iconList {
                        width: 49%;
                        display: inline-block;
                        margin-bottom: 10px;
                        vertical-align: top;

                        ul {

                            li {
                                display: inline-block;
                                vertical-align: middle;

                                img{
                                    vertical-align: middle;
                                }

                                p {
                                    display: block;
                                    margin: 2px 0;
                                }
                            }

                            li:nth-child(1) img {
                                width: 70px;
                                padding: 5px;
                            }
                        }

                        // icon Title樣式
                        .iconTitleType{
                            width:100%;
                            height: auto;


                            li:nth-child(1) img {
                                width: 80px;
                                padding: 0;
                            }
                            p{
                                font-size: 15px;
                            }
                        }
                        
                        // icon內容樣式
                        .iconType {
                            .MoreData{
                                ul{
                                    margin-bottom: 0;
                                    span {
                                        display: inline-block;
                                    }
                                }
                            }

                        }
                    }

                    // 主遊戲圖片尺寸
                    .mainGame{
                        img{
                            width: 80%;
                        }
                    }
                }

                // 圖片並排Box
                .img_Box{
                    margin-top: 10px;
                    img{
                        width: 20%;
                        display: inline-block;
                        margin: 0 5px;
                    }

                    // 免費遊戲第二區塊before & after
                    .freeGame_Box{
                        img:nth-child(1),
                        img:nth-child(3){
                            width: 38%;
                            vertical-align: middle;
                        }
                        img:nth-child(2){
                            width: 9%;
                            vertical-align: middle;
                        }
                    }
                }
                // 中獎線列表圖，15%一排五個、20%一排4個
                .winLine_Box{
                    img{
                        width:15%;
                        margin: 5px;
                    }
                }

                // 第二區塊隱藏&標題至左
                #second{
                    display: none;
                    h4{
                        text-align: left;
                    }
                    .textBox{
                        li{
                            img{
                                width: 30%;
                            }
                        }
                    }
                }

            }
        }
    }
}